
.body .bgImg{
    background-size: 100%;
    background-position: bottom;
	background-repeat: no-repeat;
}
.body .bgImg16{
	background-image: url(../../imgs/common/webImg-16.png);
}



.body .content{
	margin:auto;
	margin-bottom:50px;
	width:30%;
	background-image:url('web element/webImg-16.png');
    background-size:100%;
    background-position: bottom;
    background-repeat: no-repeat;
	font-family: Arial, Microsoft JhengHei;
	
	
}

.body .content .label{
	width:100%;
	font-size:11pt;
	font-family: Arial, Microsoft JhengHei;	
	letter-spacing:1px;
	
}


.body .content .btn{
	width:90px;
	height:40px;
	border:none;
	background-color:#A11E4A;
	color:white;
	font-size:12pt;
	font-weight:bold;
	margin-top:30px;
	font-family: Arial, Microsoft JhengHei;
}

.body .content .star{
	color:#A11E4A;
	font-family: Arial, Microsoft JhengHei;
}